<ion-view title="Réseaux Sociaux">
<ion-nav-bar ng-controller="MyCtrl">
  <ion-nav-back-button class="button-clear"
    ng-click="goBack()">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content class="has-header">
   <div class="list">
      <ion ng-repeat="socialNetwork in socialNetworks" >
       <a class="item item-icon-left item-icon-right">
			<i class={{socialNetwork.icon}}></i>
			<div>{{socialNetwork.title}} </div>
		<i class="icon ion-chevron-right neocity-gray"></i>
		</a>    
      </ion>
    </div>
  </ion-content>
</ion-view>
