@font-face {
    font-family: neocity-menu-font;
    src: url(neocity-menu-font.woff);
}

.custom-left-menu{
	background-color: #353535 !important;
	border: 0px solid #303030 !important;
}

.item-complex .item-content, .item-radio .item-content{
	background-color: transparent;
}

.custom-menu-item{
	background-color: #353535 !important;
	color: #fff !important;
	border: 1px solid #303030 !important;	
}

.custom-white{
	color: #fff !important;
}


.bar.bar-stable
{
	background-color : #225DB7;
		
}

.bar.bar-stable .title{
	font-weight: bold;
	color: #fff;
}
.menu-icon{
	font-family: neocity-menu-font;
	float: left;
	margin-right: 5px;
}

.menu-title{
	float: left;
}

.custom-menu-item:hover{
	background-color: #225DB7 !important;
	color: #fff !important;
}
