/*general config*/
@font-face {
    font-family: opensans;
    src: url(opensans-regular-webfont.woff);
}

@font-face {
    font-family: neocity-menu-font;
    src: url(neocity-menu-font.woff);
}

body{
	font-family: opensans;
}


/* left menu*/

.neocity-left-menu{
	background-color: #353535 !important;
	border: 0px solid #303030 !important;
}

.neocity-left-menu .title{
	color:#fff !important;
	font-weight: bold;
	font-family: opensans;
}

.neocity-menu-item{
	background-color: #353535 !important;
	color: #fff !important;
	border: 1px solid #303030 !important;	
}

.neocity-menu-item .menu-icon{
	font-family: neocity-menu-font;
	float: left;
	margin-right: 5px;
}

.neocity-menu-item .menu-title{
	float: left;
}

.neocity-menu-item:hover{
	background-color: #225DB7 !important;
	color: #fff !important;
}

.menu .scroll-content{
	background-color: #303030 !important;
}

/*principal page*/

.neocity-white{
	color: #fff !important;
}
.neocity-gary{
	color: #353535 !important;
}
.neocity-green{
	color: green !important;
}
.item-complex .item-content, .item-radio .item-content{
	background-color: transparent;
}

.bar.bar-stable
{
	background-color : #225DB7;
		
}


.bar.bar-stable .title
{
	color:#fff !important;
	font-weight: bold;
	font-family: opensans;
		
}



/*actualite*/

.neocity-actualite{
	border-color: #bcbcbc;
}

.neocity-actualite .date{
	font-weight: bold;
	color: #225DB7;
	font-size: 12px;
}

.neocity-actualite .title{
	font-weight: bold;
	color: #373737;
	font-size: 16px;
}

.neocity-actualite-detail .title{
	font-weight: bold;
	color: #373737;
	font-size: 18px;
	margin-left: 5px;
	margin-top: 10px;
}

.neocity-actualite-detail .date{
	font-weight: bold;
	color: #225DB7;
	font-size: 14px;
	margin-left: 5px;
}

.neocity-actualite-detail .image{
	margin-left: 5px;
	width: 95%;
	height: 250px;
}

.neocity-actualite-detail .content{
	margin-left: 5px;
}

/*************mairie*******************/

.neocity-item-detail .neocity-row{
	height: 40px;
	border-bottom: 1px solid #bcbcbc;
	padding: 5px;
}
.neocity-item-detail .title{
	font-weight: bold;
	color: #373737;
	font-size: 18px;
	margin-left: 5px;
	margin-top: 10px;
	
}

.neocity-item-detail .adresseTitle, .neocity-item-detail .phoneTitle, .neocity-item-detail .mailTitle{
	font-weight: bold;
	color: #225DB7;
	font-size: 14px;
	margin-left: 5px;
}


.neocity-item-detail .adresseContent ,.neocity-item-detail .phoneContent,.neocity-item-detail .mailContent{
	font-weight: bold;
	color: #373737;
	font-size: 12px;
	margin-left: 5px;
}

.neocity-item-detail .content{
	margin-left: 5px;
	margin-top: 10px;
}

.urgences-icon{
	font-family: neocity-menu-font;
	float: left;
	margin-right: 5px;
}