<ion-view title="Elus">
  
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-loop"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
   <div class="list">
      <ion ng-repeat="elu in elus">
      <div class="item item-divider">
          {{elu.job}}
      </div>
       <div class="item item-button-right">
        {{elu.title}} </br>
        {{elu.service}} </br>
        {{elu.number}} </br>
        {{elu.mail}} </br>
        </div>
        
      </ion>
    </div>
  </ion-content>
</ion-view>
