<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Chatou</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/actualité">
          Actualité
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/agenda">
          Agenda
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/mairies">
          Ma mairie
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/pratiques">
          Vie pratique
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/annuaires">
          Annuaire
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/plan">
          Plan
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/signaler">
          Signaler un problème
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/urgences">
          Urgences
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/démarche">
          Démarche
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/sondage">
          Sondage
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
