<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable custom-left-menu">
      <h1 class="title">Chatou</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close class="custom-menu-item"  href="#/app/actualité">
          <div class="menu-icon">a</div> 
		  <div class="menu-title"><span>Actualité</span></div>
        </ion-item>
        <ion-item nav-clear menu-close class="custom-menu-item" href="#/app/agenda">
          <div class="menu-icon">b</div> 
		  <div class="menu-title"><span>Agenda</span></div>
        </ion-item>
        <ion-item nav-clear menu-close class="custom-menu-item" href="#/app/mairies">
          <div class="menu-icon">c</div> 
		  <div class="menu-title"><span>Ma mairie</span></div>
        </ion-item>
        <ion-item nav-clear menu-close class="custom-menu-item" href="#/app/pratiques">
          <div class="menu-icon">d</div> 
		  <div class="menu-title"><span>Vie pratique</span></div>
        </ion-item>
        <ion-item nav-clear menu-close class="custom-menu-item" href="#/app/annuaires">
          <div class="menu-icon">e</div> 
		  <div class="menu-title"><span>Annuaire</span></div>
        </ion-item>
        <ion-item nav-clear menu-close class="custom-menu-item" href="#/app/plan">
          <div class="menu-icon">f</div> 
		  <div class="menu-title"><span>Plan</span></div>
        </ion-item>
        <ion-item nav-clear menu-close class="custom-menu-item" href="#/app/signaler">
          <div class="menu-icon">g</div> 
		  <div class="menu-title"><span>Signaler un problème</span></div>
        </ion-item>
        <ion-item nav-clear menu-close class="custom-menu-item" href="#/app/urgences">
          <div class="menu-icon">h</div> 
		  <div class="menu-title"><span>Urgences</span></div>
        </ion-item>
        <ion-item nav-clear menu-close class="custom-menu-item" href="#/app/démarche">
          <div class="menu-icon">i</div> 
		  <div class="menu-title"><span>Démarche</span></div>
        </ion-item>
        <ion-item nav-clear menu-close class="custom-menu-item" href="#/app/sondage">
          <div class="menu-icon">j</div> 
		  <div class="menu-title"><span>Sondage</span></div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
