<ion-view title="Pharmacies de garde">
<ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-loop"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h3>Enlèvement du Lorem Ispum par les bandits de grand chemins</h3>
    <p> Adresse: Place du Général de Gaulle, 78401, Chatou </p>
    <p> Téléphone: 01.00.66.46.90 </p>
    <p> E-mail: mairie@mairie-chatou.fr </p>

    <p> Kskl klj fjlk sldfj lkjdf lfj lkjsf jlk.</br>
     Kkljf dslkfj dslkjf.</br>kj jk j kjlskjflsdkfj dslfj ldkjsdfljdkf.</br> 
     sdkfjsld klsdjf lsdfj lksfdl.</p>
  </ion-content>
</ion-view>
